body {
    color:#fff
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700; 
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Removes browser-specific styling */
  display: none; /* Hides the icon */
}

.bg-dark a {
    color:#fff!important;
}

.bg-dark a:hover {
    color:#fff!important;
}

.navbar.bg-dark {
    --bs-bg-opacity: 0.8;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.background-banner {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('static/logo/city-background.jpg'); /* replace with your image path */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* makes it static */
}

.bg-trans-grad {
    background: linear-gradient(to left, rgba(0,0,0, 0.6) 0%, rgba(255,255,255, 0) 100%);
    height: 100vh;
    max-height: 100vh;
}

.bg-trans {
    background-color:rgba(0,0,0, 0.4);
}

.rounded-col {
    border-radius:5px;
}

.contact-us .form-control {
  --bs-body-bg-opacity:0.5;  
  background:var(--bs-body-bg-rgb, --bs-body-bg-opacity);    
  caret-color: #fff;  
}

.contact-us .form-control, .contact-us .form-floating label{
    color:#fff;
}

.form-floating>textarea:focus~label::after, .form-floating>textarea:not(:placeholder-shown)~label::after {
    content:none;
}

.search-list{
    right: 0;
    top: 47px;
    background-color: #fff;
    width: 370px;
    padding: 15px 10px;
    border-radius: 0px 0px 5px 5px;
    color: #111;
    overflow: auto;
    min-height:350px;
    max-height: 90vh;
}

.search-image {
    vertical-align:top;
}

.dest-list li:last-child hr {
    border-top:0px;
}


@media screen and (max-width:600px) {
    .bg-trans-grad {
        background-color: rgba(0,0,0, 0.6);   
    }
}    
